body{
    text-align: center;
    background-color:rgb(139, 188, 228)
}

h1{
    font-family: 'Montserrat', sans-serif

}

p{
    font-family: Arial, Helvetica, sans-serif;
    border: red;
    border-width: 20px;

}